# Session 3
---
> Working with tabular data

In [ ]:
import pandas as pd
import numpy as np # pandas stores array data as Numpy arrays 

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set_theme() # sets default seaborn style

- Today we will use seaborn for plotting, but we can reproduce or produce similar figures using purely matplotlib.
- Think of seaborn as an interface to matplotlib.
- As an exercise, try to produce some of these figures using matplotlib w/o seaborn functions.

---
References:
- Seaborn plotting : https://seaborn.pydata.org/tutorial/function_overview.html
- More on seaborn styles: https://seaborn.pydata.org/tutorial/aesthetics.html
- Pandas+Seaborn example code: https://people.duke.edu/~ccc14/sta-663-2017/07_Data.html
---

## Importing and Working with Tabular Data

Pandas comes with a wide variety of IO functions such as `read_csv`, and `read_sql`. Let's use `pandas.read_excel` to import MS Excel data.

---
Pandas References:
- [Pandas importing guide](https://pandas.pydata.org/docs/user_guide/io.html)
- [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)
---

In [ ]:
df = pd.read_excel('../python_tylab_data/Hara recoil mod.xls',sheet_name='values')
df

In [ ]:
from IPython.display import Markdown
Markdown('![](https://media.giphy.com/media/l4FGGafcOHmrlQxG0/giphy.gif)')

Let's clean it up a little by **removing "footers"** and **setting row 1 as column a header** (indexing starts at 0)

In [ ]:
df = pd.read_excel('../python_tylab_data/Hara recoil mod.xls',sheet_name='values', header=[1], skipfooter=2)
df

In [ ]:
df.loc[118:123,:]

In [ ]:
Markdown('![](https://media.giphy.com/media/sS8YbjrTzu4KI/giphy.gif)')

Let's use `converters` arg for reading and converting the column "date" to `pandas.Timestamp`â€”a pandas' version of python `datetime` object.
- Alternatively, we can convert our dates to any numerical type such as `int` or `str` (try it out yourself), but since we are working with dates it is better to explicitly set our "date" column to correct format, since we are assuming they are dates. This will help us spot any mistakes in our code or in MS Excel document early on.

In [ ]:
# lambda function
convert_to_datetime = lambda x: pd.to_datetime(x,format="%y%m%d",errors='coerce')

# same as
def fn_convert_to_datetime(x):
    # python function
    return pd.to_datetime(x,format="%y%m%d",errors='coerce')

In [ ]:
df = pd.read_excel('../python_tylab_data/Hara recoil mod.xls',sheet_name='values', header=[1],skipfooter=2,
                   parse_dates=[0],
                   converters={0: convert_to_datetime} )
df

In [ ]:
df.loc[118:123,:]

## Exploratory Data Analysis using Seaborn
> IBM blog about exploratory data analysis: [link](https://www.ibm.com/cloud/learn/exploratory-data-analysis)

In [ ]:
# add new series "isros": True/False
df['isros'] = df['Rosette??']=='YES'
df.head()

In [ ]:
df

In [ ]:
g = sns.PairGrid(df, hue="isros", diag_sharey=False, corner=True,
                vars=["recoil speed [um/sec]", "deformation speed[um/sec]", "Rounghness"])
g.map_lower(sns.scatterplot)
g.map_diag(sns.kdeplot)
plt.show()

In [ ]:
g = sns.PairGrid(df, hue="Behavior", diag_sharey=False,
                vars=["recoil speed [um/sec]", "deformation speed[um/sec]", "Rounghness"])
g.map_lower(sns.scatterplot)
g.map_upper(sns.scatterplot)
g.map_diag(sns.kdeplot)
plt.show()